#navbar{
    
    background-color: crimson;
    color: white;
    
}

.blanc
{
    color:white;
}


#background-image
{
    position: relative;
    padding: 0;
    margin: 0;
    overflow: hidden;
    height: 700px;
    background-image: url("../images/fond.png");
    background-repeat: no-repeat;
    background-size: 100% 700px;
    background-position: top center;
    background-attachment: fixed;
    
}

#image-1
{
    position: absolute;
    width: 100%;
    height: 350px;
    background-image:url("../images/logo.png");
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: auto 200px;
    top: -100px;
    left: -25px;
    
   
}

#image-2
{
    position: absolute;
    width: 200%;
    height: 245px;
    background-image: url("../images/cheeseBuerger3.png");
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 50% 250px;
    top: 75%;
    margin-top: -90px;
    
   
}


#menubar
{
    position: relative;
    width: 100%;
    height: 350px;
    background-image: url('../images/logo.png');
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: auto 100px;
    top: -120px;
    left: -90px;
    
}

#footer
{
    margin-top: 50px;
    background-color: crimson;
    background-size: auto;
    color: #FFFFFF;
}

#images
{
    width: auto;
    height: 120px;
}

#text
{
    color:crimson;
}

#menuAcceuil
{
    margin-top: -90px;
    
}

.jaune
{
    color: yellow;
}



